<div class="register-container">
	<h3 class="pet-header">Edit Post Below: </h3>
		<div class="edit-subcont">
			<%= render partial: 'form' %>
		</div>
	<div class="edit-form">
		<%= form_for @user, :class => "edit-link", html: {method: 'delete'} do |f| %>
			<%= f.submit "Delete Account", :class => "delete-link" %>
		<% end %>
</div>