<h3>Users</h3>

<%= button_to 'Edit Profile', edit_user_path(@user), :method => :get %>
<%= button_to 'Add Pet', new_pet_path(@pet), :method => :get %>

<% if @pets.empty? %>
	<h1>No posts made</h1>
<% else %>
	<div>
		<% @pets.each do |pet| %>
			<div>
				<ul>
					<li><%= link_to pet.name, user_path(pet)  %></li>
				</ul>
			</div>
		<% end %>
	</div>
<% end %>

