<div class="create-container">
	<div class="profile-nav">
	<%= button_to 'Edit Profile', edit_user_path(@user), :method => :get, :class=>"profile-link" %>
	<%= button_to 'Add Pet', new_pet_path(@pet), :method => :get, :class=>"profile-link" %>
	</div>
	<% if @pets.empty? %>
		<div class="profile-container">
			<h5 class="profile-header">No posts made</h5>
		</div>
	<% else %>
		<div class="profile-container">
			<h5 class="profile-header">Created Posts</h5>
			<% @pets.each do |pet| %>				
				<div>
					<ul>
						<li class="pet-li"><%= link_to pet.name, user_path(pet), :class=>"list-link"  %></li>
					</ul>
				</div>
			<% end %>
		</div>
	<% end %>
</div>
