<div class="register-container">
<h3 class="login-header">Create an account: </h3>

<%= render partial: 'form' %>

<p class="session">Already have an account? <%= link_to 'Click here to sign in!', new_session_path, :class=>"session-link" %>
</div>