/*// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Quicksand');


body {
	background-color: #FDF06F;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.root-container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.header {
	color:#117ACA;
	font-family: 'Permanent Marker', cursive;
	font-size: 44px;
	letter-spacing: 5px;
	border-top: 40px;
}

.nav {
	display: flex;
	flex-direction: row;
	border-top: 40px;
}

.nav-link {
	color: #EF3E4A;
	font-family: 'Quicksand', sans-serif;
	font-size: 22px;
	padding: 20px;
}

.nav-link:hover {
	border: 2px solid #EF3E4A;
	font-weight: bold;
}

.nav-link:visited {
	color: #EF3E4A;
}

.login-container {
	height: 570px;
	width: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login-header {
	color: #EF3E4A;
	font-family: 'Permanent Marker', cursive;
	font-size: 36px;
	letter-spacing: 2px;
	margin-bottom: 200px;	
}

.login-field {
	height: 45px;
	width: 200px;
	font-size: 24px;
}

.register-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 570px;
	width: 1000px;
}

.register-field {
	height: 30px;
	width: 170px;
	font-size: 24px;
	margin-left: 25px;
}

.reg-link {
	color: #117ACA;
	font-size: 24px;
	/*padding-top: 150px;*/
	background-color: #EF3E4A;
	width: 200px;
}

.reg-link:hover {
	color: #EF3E4A;
	background-color: #117ACA;
}

.session {
	color: #117ACA;
	font-family: 'Quicksand', sans-serif;
	margin-left: 100px;
}

.session-link:visited {
	color: #117ACA;
}

.session-link:hover {
	color: #EF3E4A;
}

.profile-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.profile-link {
	color: #117ACA;
	font-size: 24px;
	margin-left: 50px;
	background-color: #EF3E4A;
	margin-right: 100px;
	margin-top: 10px;
}

.profile-link:hover {
	color: #EF3E4A;
	background-color: #117ACA;
}

.profile-container {
	height: 550px;
	width: 350px;
	overflow: auto;
	margin-left: 125px;
}

.profile-header {
	color: #EF3E4A;
	font-family: 'Permanent Marker', cursive;
	font-size: 24px;
	letter-spacing: 1px;
}

.delete-link {
	color: #117ACA;
	font-size: 24px;
	margin-left: 50px;
	margin-top: 150px;
	background-color: #EF3E4A;
}

.form-container {
	margin-bottom: 200px;
}

.create-container {
	height: 550px;
	width: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.pet-field {
	color: #117ACA;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	font-weight: bolder;
}

.pet-input {
	height: 18px;
}

.pet-description {
	width: 150px;
}

.form-link {
	color: #117ACA;
	font-size: 24px;
	margin-left: 50px;
	background-color: #EF3E4A;
}

.form-link:hover {
	color: #EF3E4A;
	background-color: #117ACA;
}

.show-ud {
	display: flex;
	flex-direction: row-reverse;
	margin-left: 50px;
}

.list-container {
	height: 550px;
	width: 200px;
	overflow: auto;
}

.list-header {
	color: #EF3E4A;
	font-family: 'Permanent Marker', cursive;
	font-size: 24px;
	letter-spacing: 1px;
}

.pet-li {
	list-style: none;
	padding-top: 2px;
}

.list-link {
	color: #117ACA;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	font-weight: bold;
}


.show-container {
	height: 550px;
	width: 1000px;
}

.show-subcont {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin-left: 50px;
}

.show-info {
	width: 325px;
	overflow: auto;
}

.pet-header {
	color: #EF3E4A;
	font-family: 'Permanent Marker', cursive;
	font-size: 36px;
	letter-spacing: 2px;	
}

.pet-picture {
	padding-left: 25px;
	height: 450px;
	width: 450px;
}

.pet-info {
	color: #117ACA;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
}

.list-link:hover {
	color: #EF3E4A;
	border: 2px solid #EF3E4A;
}

.footer {
  color: #117ACA;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  padding-top: 40px;
  font-weight: bolder;
}